body {
    position: relative;
    margin: 0px;
    padding: 0px;
}


/* NavBar*/

.navbar-dark .navbar-brand {
    color: #000;
    font-weight: bolder;
    margin-left: 80px;
    font-weight: 800;
    font-family: Roboto;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 4px;
    margin-top: 10px;

}

.navbar-dark .navbar-brand .brown {
    color: #00b0dc;

}

#navbarsExampleDefault,
ul {
    margin-right: 40px;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    padding: 10px;
}

.navbar-link {
    margin-right: 50px;
}


/*HOME*/

/**
******* Home backround Image ***
Always note various features for background images*/
#home {
    height: 800px;
    width: 100%;
    background-image: url(/img/section-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


/* My Profile Image*/

img {
    vertical-align: middle;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    max-width: 100%;
    height: auto;
}

/* Advert Typed */
.h2,
h2 {
    font-size: 24px;
    line-height: 20px;
    color: #fafafa;
    font-weight: 100;
}

/*Profile Name*/
#home .lead {
    font-size: 49px;
    letter-spacing: 0.5px;
    font-weight: 550;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/**Socila Media Icons **/

.social_med {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 10px;
    color: white;
}

.fab {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.social_med .fab {
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}

/**Socila Media Icons ends **/


/** My Respond Message **/

.jumbotron h1 {}

.jumbotron p:nth-child(1) {}

.jumbotron p:nth-child(2) {}

.jumbotron p:nth-child(3) {}

.jumbotron btn {
    color: #00B0DC;
}




/*footer*/
#footer {
    margin-top: 50px;
    background: #000;
    padding: 50px;

}

#footer .logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-weight: 800;
    font-family: Roboto;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 4px;
    margin-top: 10px;
}

#footer p {
    font-size: 16px;


}

.cpt span {
    color: #00B0DC;
    letter-spacing: 0.4px;

}

.social-icon {
    text-align: right;
}

.social-icon ul li {
    display: inline;
    padding: 0;
    margin: 0 5px;
}


.social-icon ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    height: 34px;
    line-height: 34px;
    color: #fff;
}

.social-icon ul li a:hover {
    color: #00B0DC;

}

/*FOOTER ENDS*/
